@{
    ViewData["Title"] = "Home Page";
}

<div >
    <h3 class="display-4">Rafael Mendoza</h3>
    <p>Please develop a web application in C# or NodeJS that accepts an array of values. The application should do the following for each value in the array:</p>
    <ol>
    <li>
        If the value is a multiple of 3 then output the word “Fizz”
    </li>
    <li>
        If the value is a multiple of 5 then output the word “Buzz”
    </li>
    <li>
        If the value is divisible by both 3 and 5 then output the word “FizzBuzz”
    </li>
    <li>
        At the end of the run the program should display each division that was performed. 
    </li>
    </ol>
</div>
