@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
    <p>Please develop a web application in C# or NodeJS that accepts an array of values. The application should do the following for each value in the array:</p>
    <li>
        1.	If the value is a multiple of 3 then output the word “Fizz”
    </li>
    <li>
        2.	If the value is a multiple of 5 then output the word “Buzz”
    </li>
    <li>
        3.	If the value is divisible by both 3 and 5 then output the word “FizzBuzz”
    </li>
    <li>
        4.	At the end of the run the program should display each division that was performed. 
    </li>
    </ul>
</div>
